/* add css styles here (optional) */

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 12px;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
}

.promptWrapper {
  display: flex;
}

.line {
  font-size: 12px;
  line-height: 12px;
  font-family: monospace;
  background: transparent !important; /* we want to make this transparent whatever happens in the app*/
  padding: 0;
  color: white;
}

.prompt {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  background: transparent !important; /* we want to make this transparent whatever happens in the app*/
  border: none;
  outline: none;
  color: white;
  font-family: monospace;
  font-size: 13px;
}
