/* add css styles here (optional) */

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 13px;
  padding: 10px;
  height: 300px;
}

.output {
  overflow-y: auto;
}

.promptWrapper {
  display: flex;
}

.input {
  margin-left: 3px;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
